Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js,mjs}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html,mdx}": [
    "npm run lint:other:hook"
  ]
}

feat(prs): add new input `pull-request-only-with-project-cards`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/22-only-with-project-cards-input.mdx
  documentation/docs/08-pull-requests/01-inputs/23-only-any-project-cards-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/pull-requests/pull-request-only-with-project-card.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.60.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  a65c7817a6e96cbce3cf766da5df6afb3022cf84
Due: none

feat(issues): add new input `issue-only-with-milestones`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/32-only-with-milestones-input.mdx
  documentation/docs/06-issues/01-inputs/33-only-any-milestones-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/issues/issue-only-with-milestone.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(prs): add new input `pull-request-only-with-milestones`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/32-only-with-milestones-input.mdx
  documentation/docs/08-pull-requests/01-inputs/33-only-any-milestones-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/pull-requests/pull-request-only-with-milestone.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.61.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  4691f2be91392ba6f76995fca97db03e4c68f216
Due: none

build(release): new version 1.62.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  241e914d0b535c4f627c837f76ee23ebcadbebbf
Due: none

Notes added by 'git notes add'
  9b38d8fb0432bf382e28593e5bbea3966119110a
Due: none

Notes added by 'git notes add'
  9987c01fc28fdfbf8e2f611eadecf2a2f354d6b6
Due: none

build(release): new version 1.62.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

build(vercel): provide a dedicated config for vercel
  documentation/docusaurus.core.config.js
  documentation/docusaurus.github.config.js
  documentation/docusaurus.vercel.config.js
  documentation/package.json
  documentation/tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

Notes added by 'git notes add'
  2de05bed23a7944ae9cd75245faa9272ce2a074b
Due: none

Notes added by 'git notes add'
  afea10939b559473755fd6465c56405fc82c3e0c
Due: none

chore(release): create manually the 2.0.0 release
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(changelog): improve the readability of the changelog
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(docs): improve the changelog generator for the website
  .prettierignore
  documentation/scripts/generate-changelog.mjs
  package-lock.json
  package.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(website): configure Sentry
  .idea/jsLibraryMappings.xml
  .idea/libraries/docusaurus.xml
  .idea/libraries/sentry.xml
  documentation/docusaurus.vercel.config.js
  documentation/package-lock.json
  documentation/package.json
  documentation/src/modules/sentry.module.ts
  documentation/tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(website): replace all the website links to the new one
  .github/ISSUE_TEMPLATE/blog_article.md
  README.md
Due: npm run lint:other:hook

docs(blog): add a new blog entry to explain the migration to Vercel
  README.md
  documentation/blog/2022-08-24-migrate-to-vercel/index.mdx
Due: npm run lint:other:hook

chore(vercel): configure Vercel for GitHub
  vercel.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  a70f29a512bd8e1bbab37896f4c0daa32da1f4f9
Due: none

build(release): new version 2.1.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  0213b16307d6b8c7b26a415a2857e29257407fab
Due: none

chore(changelog): remove wrong tag entry
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(vercel): configure locally and add to deploy website
  .eslintignore
  .github/workflows/deploy-website.yml
  .gitignore
  .prettierignore
  documentation/.gitignore
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(docusaurus): use the right url
  documentation/.gitignore
  documentation/docusaurus.core.config.js
  documentation/docusaurus.github.config.js
  documentation/docusaurus.vercel.config.js
Due: npm run lint:ts:hook
