Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency prettier to v2.5.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(contributing): add docs about the close comment
  CONTRIBUTING.md
Due: npm run lint:other:hook

test: fix failing tests due to default config set to comment on close
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close.spec.ts
Due: npm run lint:ts:hook

build(release): new version 1.21.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  16aa94ffcabf43dbfaf96658f9107b926017b619
Due: none

chore(deps): update dependency @types/node to v14.18.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): lock file maintenance
  package-lock.json
Due: npm run lint:other:hook

feat(debug): add more logs to debug in case a label does not exist in your repo
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Due: npm run lint:ts:hook

chore(index): update the index
  dist/index.js
Due: npm run lint:ts:hook

chore(deps): update typescript-eslint monorepo to v5.6.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.22.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  b8e6a6b8b14f6f5a4d346412b299c46d4238b59f
Due: none

chore(deps): update dependency eslint to v8.4.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(stale): add more details over how the stale action works
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency @types/lodash to v4.14.178
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency ts-jest to v27.1.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency typescript to v4.5.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest to v27.4.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update dependency luxon to v2.2.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(index): update index
  dist/index.js
Due: npm run lint:ts:hook

feat(issue): add new input "issue-ignore-all-project-cards"
  CONTRIBUTING.md
  README.md
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-project-cards-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/interfaces/github-api-project-card.interface.ts
  src/github/api/labels/interfaces/github-api-project-cards-pagination.interface.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(action): add missing input in the list of action
  action.yml
Due: npm run lint:other:hook

chore(action): fix the stale testeur issue due to bad default value
  action.yml
Due: npm run lint:other:hook

chore(deps): update dependency @sonia-corporation/conventional-changelog to v1.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  fb6d4d733a381a07ee6b2b0cc311c18dbfc11514
Due: none

build(release): new version 1.23.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(release): include the body of the commits in the relese notes
  .releaserc.json
Due: npm run lint:other:hook

chore(stale): fix a typo in the stale message configured for this repository
  .github/workflows/stale.yml
Due: npm run lint:other:hook

docs(readme): update the readme to show pull requests inputs
  README.md
Due: npm run lint:other:hook

feat(pr): add new inputs to support pull requests processing
  action.yml
Due: npm run lint:other:hook

chore(inputs): add a core inputs service
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/core-inputs.service.ts
  src/core/inputs/types/input.ts
  src/core/inputs/types/inputs.ts
Due: npm run lint:ts:hook

chore(inputs): create a dedicated service for common inputs
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/common-inputs.service.ts
  src/core/inputs/interfaces/common-inputs.interface.ts
Due: npm run lint:ts:hook

chore(inputs): create a dedicated service for issues inputs
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
Due: npm run lint:ts:hook

chore(inputs): create a dedicated service for pull requests inputs
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
Due: npm run lint:ts:hook

refactor(inputs): drastically change the inputs service
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
Due: npm run lint:ts:hook

chore(inputs): add pull requests members to the enum
  src/core/inputs/inputs.enum.ts
Due: npm run lint:ts:hook

chore(inputs): fix all the imports due to the split of services
  src/core/inputs/types/all-inputs.ts
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-is-stale-processor.spec.ts
  src/core/issues/issue-is-stale-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-should-close-stale-processor.spec.ts
  src/core/issues/issue-should-close-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
