Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(index): minify the index
  dist/index.js
  package.json
Due: npm run lint:ts:hook, npm run lint:other:hook

refactor(paths): use absolute paths
  .eslintrc.yml
  dist/index.js
  jest.config.js
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-logger.spec.ts
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/github/api/issues/github-api-issue.interface.ts
  src/github/api/issues/github-api-issues.interface.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
  src/main.ts
  src/utils/links/create-input-link.spec.ts
  src/utils/links/create-input-link.ts
  src/utils/links/create-link.spec.ts
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger-format.service.spec.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(issue): skip if locked
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
  dist/index.js
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  d64233b2c366da2309a6ef77f5665da802cbdee0
Due: none

feat(logs): highlight the number of fetched issues
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
Due: npm run lint:ts:hook

chore(eslint): properly configure the projects for eslint
  .eslintrc.yml
  tsconfig.spec.json
Due: npm run lint:other:hook

test(no-issue): add a first integration test
  .codeclimate.yml
  .github/labeler.yml
  jest.config.js
  tests/issues/no-issue.spec.ts
  tests/utils/issue-sut.ts
  tsconfig.json
  tsconfig.spec.json
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(logs): add a log when the process start
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
Due: npm run lint:ts:hook

refactor(naming): rename an interface to github
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/github/api/issues/github-api-issue.interface.ts
  src/github/api/issues/github-api-issues.interface.ts
Due: npm run lint:ts:hook

refactor(naming): rename the dry-run option and add it to the readme
  README.md
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(types): add missing never type
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.ts
Due: npm run lint:ts:hook

refactor(pagination): extract the const for the issue pagination
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/issues-per-page.ts
Due: npm run lint:ts:hook

test(lock): add integration coverage for locked issues
  src/utils/links/create-link.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
  tests/utils/issue-sut.ts
Due: npm run lint:ts:hook

docs(pr): update the pr template to add comments
  PULL_REQUEST_TEMPLATE.md
Due: npm run lint:other:hook

feat(issues): add pagination
  dist/index.js
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.interface.ts
  src/github/api/issues/github-api-issues.service.ts
  tests/utils/issue-sut.ts
Due: npm run lint:ts:hook

chore(deps): update dependency @semantic-release/changelog to v6
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/git to v10
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/github to v8
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/jest to v27
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v25
  package-lock.json
  package.json
Due: npm run lint:other:hook

test(pagination): add more unit tests
  src/core/issues/issue-logger.spec.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

chore(renovate): fix an issue in the semantic release group regexp
  .renovaterc.json
Due: npm run lint:other:hook

chore(deps): update dependency jest to v27.3.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.17.33
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-typescript-sort-keys to v2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v18
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5
  package-lock.json
  package.json
Due: npm run lint:other:hook

test(pagination): add integration tests
  dist/index.js
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues-pagination.interface.ts
  src/github/api/issues/github-api-issues.interface.ts
  tests/issues/batches-of-issues.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

chore(deps): update dependency eslint-plugin-prettier to v4
  package-lock.json
  package.json
Due: npm run lint:other:hook

refactor(eslint): change some rules due to breaking change
  .eslintrc.yml
Due: npm run lint:other:hook

build(test): split in half the coverage between integration and units
  .github/workflows/build.yml
  package.json
Due: npm run lint:other:hook

build(codecov): rename the job names
  .github/workflows/build.yml
Due: npm run lint:other:hook

chore(ts): include in the tsconfig the jest config file
  tsconfig.spec.json
Due: npm run lint:other:hook

build(release): new version 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  dc650a552aa51593a8e5580767252e66d8c1ba66
Due: none

feat(issue): add a new option "issue-stale-label" to define the label to use when an issue is stale
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(types): add a new type for iso dates
  README.md
  src/github/api/issues/github-api-issue.interface.ts
  src/utils/dates/iso-8601.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(stale): stale locally the issues older than 30 days
  package-lock.json
  package.json
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
