Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

docs(troubleshooting): add a new page to help troubleshooting
  .releaserc.json
  documentation/docs/06-issues/01-inputs/02-stale-label-input.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/02-stale-label-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/12-troubleshooting.mdx
  documentation/docs/13-need-help.mdx
  documentation/docs/14-badge.mdx
  documentation/docs/15-changelog.md
  documentation/docusaurus.config.js
  documentation/package.json
  documentation/scripts/generate-changelog.js
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(troubleshooting): add more tips
  documentation/docs/12-troubleshooting.mdx
Due: npm run lint:other:hook

chore(docs): add french and ids
  documentation/docs/12-troubleshooting.mdx
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
Due: npm run lint:other:hook

build(release): new version 1.49.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  d6dc93932f461f5294d35d58f9df1a1f8f657b17
Due: none

chore(stale): fix formatting labels issue in the stale comment
  .github/workflows/stale.yml
Due: npm run lint:other:hook

feat(milestone): add new input `issue-only-any-milestones`
  .run/All Integration Issues Tests.run.xml
  .run/All Integration Pull Requests Tests.run.xml
  .run/All Integration Tests.run.xml
  .run/All Tests.run.xml
  .run/All Unit Tests.run.xml
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/20-only-any-milestones-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/milestones/interfaces/github-api-milestone.interface.ts
  src/github/api/projects/interfaces/github-api-project-card.interface.ts
  src/github/api/projects/interfaces/github-api-project-cards-pagination.interface.ts
  src/github/api/projects/interfaces/github-api-project.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-milestone.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-only-any-project-card.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.50.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  6083ec6b712333ac33358b2fc0d97460ad193a99
Due: none

feat(milestone): add new input `pull-request-only-any-milestones`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/23-only-any-milestones-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-milestone.spec.ts
  tests/pull-requests/pull-request-only-any-milestone.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Revert "feat(milestone): add new input `pull-request-only-any-milestones`"
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/23-only-any-milestones-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-milestone.spec.ts
  tests/pull-requests/pull-request-only-any-milestone.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.51.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  b8e3e259deae80a8b09b9d95b1f80831029c9389
Due: none

chore(changelog): fix wrong link to closed issue
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.12.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency fs-extra to v10.0.1
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

fix(deps): update dependency luxon to v2.3.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update npm to v8.5.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update actions/setup-node action to v3
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(deps): update dependency @types/lodash to v4.14.179
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v8.10.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/jest to v27.4.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update docusaurus monorepo to v2.0.0-beta.16
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

chore: update index
  dist/index.js
Due: npm run lint:ts:hook

chore(docs): update french docs
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

chore(deps): update peter-evans/create-pull-request commit hash to 18f7dc0
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.5
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update actions/labeler commit hash to 26546f6
  .github/workflows/label.yml
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.13.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-website.yml
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
Due: npm run lint:other:hook

chore(deps): update actions/labeler action to v4
  .github/workflows/label.yml
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.6
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/luxon to v2.3.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-config-prettier to v8.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update docusaurus monorepo to v2.0.0-beta.17
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

feat(input): add new inputs to ignore any project cards
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  tests/issues/issue-with-ignored-project-card.spec.ts
  tests/pull-requests/pull-request-with-ignored-project-card.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
