Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

docs(sidebar): auto-collapse the categories and allow to hide it
  documentation/docs/16-migrations/02-migration-to-2.md
  documentation/docusaurus.core.config.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): add @octokit/graphql-schema
  .idea/jsLibraryMappings.xml
  .idea/libraries/octokit.xml
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): remove @octokit/webhooks-definitions
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(github): perform a GraphQL schematics validation before processing
  dist/index.js
  dist/licenses.txt
  dist/schema.graphql
  src/core/processing/abstract-logger.ts
  src/core/processing/issues/issue-logger.spec.ts
  src/core/processing/pull-requests/pull-request-logger.spec.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  src/main.ts
Due: npm run lint:ts:hook

chore(deps): move @octokit/graphql-schema as a dependency
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: update index
  dist/index.js
Due: npm run lint:ts:hook

chore(changelog): remove useless bug report
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(docs): add new translation
  documentation/i18n/en/code.json
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

chore: update index
  dist/index.js
  dist/schema.graphql
Due: npm run lint:ts:hook

feat(issues): add new input `issue-remove-labels-after-close`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/41-close-comment-input.mdx
  documentation/docs/06-issues/01-inputs/51-days-before-close-input.mdx
  documentation/docs/06-issues/01-inputs/71-close-reason-input.mdx
  documentation/docs/06-issues/01-inputs/75-remove-labels-after-close-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-close-stale-processor.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  tests/issues/issue-to-close-add-extra-labels.spec.ts
  tests/issues/issue-to-close-remove-extra-labels.spec.ts
  tests/issues/issue-to-stale-remove-extra-labels.spec.ts
  tests/utils/abstract-fake-processor.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(prs): add new input `pull-request-remove-labels-after-close`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/41-close-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/51-days-before-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/74-remove-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/75-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/76-delete-branch-after-close-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  tests/pull-requests/pull-request-to-close-remove-extra-labels.spec.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(logs): improve the logger messages for the schemas checks
  dist/index.js
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
Due: npm run lint:ts:hook

build(release): new version 2.4.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  ef/485caab3f7d560098aac7f434072ee1271e1e1
Due: none

chore(changelog): improve the changelog for the 2.4.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(contributing): add the github schemas checks as part of the initialization
  CONTRIBUTING.md
Due: npm run lint:other:hook

chore(comments): add hidden header in the comments
  CONTRIBUTING.md
  dist/index.js
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/issues/issue-comments-processor.spec.ts
  src/core/processing/issues/issue-comments-processor.ts
  src/core/processing/pull-requests/pull-request-comments-processor.spec.ts
  src/core/processing/pull-requests/pull-request-comments-processor.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/utils/enums/comment-type.enum.ts
  src/utils/interfaces/comment-header-options.interface.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

refactor: change the syntax for the todo
  src/core/inputs/core-inputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
  src/utils/close/get-parsed-close-reason.ts
  src/utils/enums/get-enum-keys.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore(schemas): add new schema to remove an issue comment
  src/github/api/comments/constants/github-api-remove-issue-comment-mutation.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

chore(issues): fetch the first 50 comments
  src/github/api/comments/interfaces/github-api-comment.interface.ts
  src/github/api/comments/interfaces/github-api-comments-pagination.interface.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-comments-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
Due: npm run lint:ts:hook

chore(schemas): add new schema to remove a pull request comment
  src/github/api/comments/constants/github-api-remove-pull-request-comment-mutation.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore(comments): add new method to remove a label
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
Due: npm run lint:ts:hook

chore(prs): fetch the first 50 comments
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/constants/github-comments-per-pull-request.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
Due: npm run lint:ts:hook

chore(schemas): add new schemas to fetch only some comments
  src/github/api/comments/interfaces/github-api-comments-pagination.interface.ts
  src/github/api/issues/constants/github-api-issue-comments-query.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-comments-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/interfaces/github-api-get-issue-comments.interface.ts
  src/github/api/pull-requests/constants/github-api-pull-request-comments-query.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/constants/github-comments-per-pull-request.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/interfaces/github-api-get-pull-request-comments.interface.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore: update dist
  dist/index.js
  dist/schema.graphql
Due: npm run lint:ts:hook

docs(typo): add missing plural on "pull request"
  documentation/docs/05-github-token-input.mdx
Due: npm run lint:other:hook

docs(github-token): add more details about the required permissions
  documentation/docs/05-github-token-input.mdx
Due: npm run lint:other:hook

build(release): new version 2.5.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e6/32d7e887e4fcfd42e19966eae8839f3f2bc273
Due: none

build(output): refactor the syntax to create github outputs
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(output): refactor the syntax to create github outputs (#1028)
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

refactor(prettier): apply changes due to new prettier minor
  src/github/github-schemas.service.ts
Due: npm run lint:ts:hook

chore(index): update index
  dist/index.js
Due: npm run lint:ts:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js,mjs}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
