Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.33.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  fa424c0290e9f3ec0a124ef4737dca10d0f9248d
Due: none

build(comment): improve the message added on merge into master
  .github/workflows/merge-develop-into-master.yml
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.10.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v26
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.3.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update docusaurus monorepo to v2.0.0-beta.15
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.7.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(website): add new french translation
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

chore(statistics): add new methods to count the mutation api calls
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

feat(stats): add statistics about mutations and queries from the API
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-issue-comments.service.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-issue-labels.service.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/references/abstract-github-api-references.service.ts
  src/github/api/references/github-api-pull-request-references.service.spec.ts
  src/github/api/references/github-api-pull-request-references.service.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
Due: npm run lint:ts:hook

style(website): add missing space
  documentation/docs/01-introduction.mdx
Due: npm run lint:other:hook

chore(statistics): add new methods to count the query api calls
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

test(stats): add a shortcut method to expect the statistics
  src/core/statistics/types/issues-statistics.ts
  src/core/statistics/types/pull-requests-statistics.ts
  tests/utils/abstract-fake-processor.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore(deps): update dependency jest-extended to v1.2.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v8.8.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest-extended to v2
  package-lock.json
  package.json
Due: npm run lint:other:hook

refactor(integration): simplify how to expect the statistics for issues integration
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-processing.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close-comment.spec.ts
  tests/issues/issue-to-close-extra-labels.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-to-stale-comment.spec.ts
  tests/issues/issue-to-stale-extra-labels.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/issues/issue-with-all-assignees-ignored.spec.ts
  tests/issues/issue-with-all-labels-ignored.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-assignee.spec.ts
  tests/issues/issue-with-ignored-creation-date.spec.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

refactor(integration): simplify how to expect the statistics for PRs integration
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/draft-pull-request.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/locked-pull-request.spec.ts
  tests/pull-requests/no-pull-request.spec.ts
  tests/pull-requests/pull-request-processing.spec.ts
  tests/pull-requests/pull-request-stale-and-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-draft.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-all-assignees-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-labels-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-branch-to-delete.spec.ts
  tests/pull-requests/pull-request-with-ignored-assignee.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
  tests/pull-requests/pull-request-with-ignored-label.spec.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore(stats): fix a wrong stat for prs mutations
  dist/index.js
  src/github/api/comments/github-api-pull-request-comments.service.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-draft.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-branch-to-delete.spec.ts
Due: npm run lint:ts:hook

test(stats): add more coverage
  tests/issues/batches-of-issues.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
Due: npm run lint:ts:hook

feat(logs): display the total of stats for mutations and queries API calls
  dist/index.js
  src/core/statistics/abstract-statistics.service.ts
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
  src/utils/numbers/is-finite-number.spec.ts
  src/utils/numbers/is-finite-number.ts
  src/utils/trees/tree-rows.enum.ts
Due: npm run lint:ts:hook

feat(outputs): add 6 new outputs to expose the api calls
  README.md
  action.yml
  dist/index.js
  src/core/outputs/enums/issues-outputs.enum.ts
  src/core/outputs/enums/pull-requests-outputs.enum.ts
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(website): change the color palette
  documentation/src/css/custom.css
Due: none

chore(stale): allow the waiting label to be ignored by stale
  .github/workflows/stale.yml
Due: npm run lint:other:hook

build(release): new version 1.34.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  d5ca6e7e20ab2ed730ab7d45fa26a6e1b40f7afd
Due: none

chore(deps): update peter-evans/create-pull-request commit hash to f22a7da
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

docs(website): add new pages to list the outputs
  .idea/stale.iml
  README.md
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/02-processed-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/03-ignored-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/04-unaltered-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/05-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/06-already-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/07-remove-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/08-close-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/09-added-issues-comments-count-output.mdx
  documentation/docs/06-issues/02-outputs/10-added-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/11-called-api-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/12-called-api-issues-queries-count-output.mdx
  documentation/docs/06-issues/02-outputs/13-called-api-issues-mutations-count-output.mdx
  documentation/docs/06-issues/02-outputs/_category_.json
  documentation/docs/07-pull-requests/02-outputs/01-all-outputs.mdx
  documentation/docs/07-pull-requests/02-outputs/02-processed-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/03-ignored-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/04-unaltered-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/05-stale-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/06-already-stale-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/07-remove-stale-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/08-close-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/09-deleted-pull-requests-branches-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/10-added-pull-requests-comments-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/11-added-pull-requests-labels-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/12-draft-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/13-called-api-pull-requests-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/14-called-api-pull-requests-queries-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/15-called-api-pull-requests-mutations-count-output.mdx
  documentation/docs/07-pull-requests/02-outputs/_category_.json
  documentation/docs/09-all-outputs.mdx
  documentation/docs/10-statistics.mdx
Due: npm run lint:other:hook

chore(docs): fix broken links
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/08-pull-requests/02-outputs/01-all-outputs.mdx
  documentation/docs/08-pull-requests/02-outputs/11-added-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/12-draft-pull-requests-count-output.mdx
Due: npm run lint:other:hook

build(release): new version 1.35.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e4cd6fc3632fb173c0b4b5fd728f41b96974c6a4
Due: none

chore(deps): update typescript-eslint monorepo to v5.10.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(website): add a search bar
  documentation/docusaurus.config.js
  documentation/package-lock.json
  documentation/package.json
  documentation/sidebars.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(website): add french translations for the search
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
