Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js,mjs}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html,mdx}": [
    "npm run lint:other:hook"
  ]
}

refactor(test): handle a breaking change from Jest 29 with jest.mocked
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Due: npm run lint:ts:hook

chore(index): update index
  dist/index.js
Due: npm run lint:ts:hook

chore: update index
  dist/index.js
Due: npm run lint:ts:hook

chore(docusaurus): handle the breaking changes
  documentation/i18n/en/code.json
  documentation/i18n/en/docusaurus-theme-classic/navbar.json
  documentation/i18n/fr/code.json
  documentation/i18n/fr/docusaurus-theme-classic/navbar.json
Due: npm run lint:other:hook

build(node): migrate to node 18 for GitHub workflows
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(asdf): configure asdf to install node and npm
  .idea/material_theme_project_new.xml
  .idea/prettier.xml
  .idea/sonarlint/issuestore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/issuestore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/issuestore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/securityhotspotstore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/securityhotspotstore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/securityhotspotstore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/securityhotspotstore/index.pb
  .tool-versions
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: use the correct name for projects when consuming the queries
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-project.spec.ts
  tests/issues/issue-only-with-project.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-project.spec.ts
  tests/pull-requests/pull-request-only-any-project.spec.ts
  tests/pull-requests/pull-request-only-with-project.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-project.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

build(output): refactor the syntax to create github outputs (#1028)
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore: ignore .idea config file
  .gitignore
Due: none

chore: ignore .idea config file (#1187)
  .gitignore
Due: none

build(release): new version 2.6.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  03/c08058a0e38093ae10ac67ca0791bc0938a665
Due: none

chore(version): change the last generated version to 3.0.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(stale): change the workflow permissions
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
  action.yml
Due: npm run lint:other:hook

chore(stale): change the workflow permissions (#1190)
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
  action.yml
Due: npm run lint:other:hook

chore(dependencies): update some dependencies
  .eslintrc.json
  CHANGELOG.md
  dist/index.js
  dist/licenses.txt
  dist/schema.graphql
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/issue-close-reason.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close-add-extra-labels.spec.ts
  tests/issues/issue-to-close-comment.spec.ts
  tests/issues/issue-to-close-remove-extra-labels.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-with-ignored-creation-date.spec.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/pull-request-to-close-add-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close-remove-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-with-branch-to-delete.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(docusaurus): migrate to v3
  .idea/jsLibraryMappings.xml
  dist/index.js
  documentation/docusaurus.core.config.js
  documentation/i18n/en/docusaurus-theme-classic/footer.json
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
  documentation/package-lock.json
  documentation/package.json
  documentation/src/modules/sentry.module.ts
  package-lock.json
  package.json
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: fix failing tests
  dist/index.js
  dist/licenses.txt
  jest.config.ts
  package-lock.json
  package.json
  src/github/octokit/octokit.service.ts
  src/utils/links/create-input-link.ts
  src/utils/links/create-link.spec.ts
  src/utils/links/create-link.ts
  tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: update docs translations
  documentation/i18n/en/code.json
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

feat(node): migrate the action to node 20
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
  .nvmrc
  .tool-versions
  action.yml
  documentation/.nvmrc
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: fix lint:ts scripts
  .idea/codeStyles/Project.xml
  package.json
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/abstract-is-stale-processor.ts
  src/core/processing/abstract-processor.ts
  src/core/processing/abstract-remove-stale-processor.ts
  src/core/processing/abstract-should-close-processor.ts
  src/core/processing/abstract-stale-processor.ts
  src/github/api/abstract-github-api.service.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/references/abstract-github-api-references.service.ts
  src/github/api/timeline-items/abstract-github-api-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/utils/loggers/logger-annotations.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(analytics): configure vercel analytics for the docs
  documentation/package-lock.json
  documentation/package.json
  documentation/src/pages/index.tsx
Due: npm run lint:other:hook
