Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run build, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook",
    "npm run build"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

chore(deps): update dependency eslint-plugin-jest to v24.7.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

test(link): add more coverage for the creation of link
  .editorconfig
  .gitconfig
  .github/issue_label_bot.yaml
  .npmrc
  src/utils/link/create-link.spec.ts
Due: npm run lint:ts:hook, npm run build

chore(hooks): remove the build step from the hooks
  .lintstagedrc
  dist/index.js.map
Due: none

chore(eslint): configure new jest rules
  .eslintrc.yml
Due: npm run lint:other:hook

style(github): rename the stale tester workflow name
  .github/workflows/stale-tester.yml
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-import to v2.25.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(ci): add a check to know if the dist has uncommited changes
  .github/workflows/build.yml
Due: npm run lint:other:hook

style(ci): rename a step name
  .github/workflows/build.yml
Due: npm run lint:other:hook

docs(readme): add a debug section
  README.md
Due: npm run lint:other:hook

docs(readme): add a link to the wiki
  README.md
Due: npm run lint:other:hook

docs(readme): add a list of options
  README.md
Due: npm run lint:other:hook

chore(cc): change the patterns to exclude
  .codeclimate.yml
Due: npm run lint:other:hook

chore(intellij): add a shared configuration file to run all tests
  .run/All Tests.run.xml
Due: none

chore(package): migrate to npm 7
  package-lock.json
Due: npm run lint:other:hook

test(logger): add more coverage
  src/core/inputs/inputs.service.spec.ts
  src/utils/logger/logger.service.spec.ts
  src/utils/logger/logger.service.ts
Due: npm run lint:ts:hook, npm run build

test(logger): add more coverage
  src/utils/logger/logger-format.service.spec.ts
  src/utils/logger/logger-format.service.ts
Due: npm run lint:ts:hook, npm run build

test(logger): add more coverage
  src/utils/logger/logger-format.service.spec.ts
Due: npm run lint:ts:hook, npm run build

chore(eslint): disable @typescript-eslint/restrict-template-expressions rules
  .eslintrc.yml
Due: npm run lint:other:hook

chore(logs): display warnings in yellow and errors in red
  src/utils/logger/logger-format.service.ts
  src/utils/logger/logger.service.spec.ts
  src/utils/logger/logger.service.ts
Due: npm run lint:ts:hook, npm run build

feat(error): catch and stop the action in case of errors
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
Due: npm run lint:ts:hook, npm run build

build(release): use a fallback tag to 1.0.0 when there is no tag yet created
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(deps): update dependency @types/lodash to v4.14.176
  package-lock.json
  package.json
Due: npm run lint:other:hook
