Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html,mdx}": [
    "npm run lint:other:hook"
  ]
}

Notes added by 'git notes add'
  474744c07fa52b1221f9ec494c32186e21b49254
Due: none

chore(deps): update dependency lint-staged to v12.3.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.12.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.12
  package-lock.json
  package.json
Due: npm run lint:other:hook

workflow.drawio
  Untitled Diagram.drawio
Due: none

chore: update workflow schema
  Untitled Diagram.drawio
Due: none

Delete Untitled Diagram.drawio
  Untitled Diagram.drawio
Due: none

Added workflow.drawio
  workflow.drawio
Due: none

Added workflow.drawio.svg
  workflow.drawio.svg
Due: none

Delete workflow.drawio
  workflow.drawio
Due: none

Update workflow.drawio.svg
  workflow.drawio.svg
Due: none

Delete workflow.drawio.svg
  workflow.drawio.svg
Due: none

chore(deps): update dependency eslint-plugin-jest to v26.1.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

style(test): fix typo
  tests/pull-requests/pull-request-only-any-project-card.spec.ts
Due: npm run lint:ts:hook

feat(logs): add more logs to debug the project card features
  dist/index.js
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
Due: npm run lint:ts:hook

docs(workflow-testing): add a section to explain how to enable the actions step debug
  README.md
  documentation/docs/02-getting-started/02-workflow-testing.mdx
Due: npm run lint:other:hook

feat(logs): log the item data before processing (debug)
  dist/index.js
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Due: npm run lint:ts:hook

build(release): new version 1.47.0
  CHANGELOG.md
  documentation/docs/14-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e86436b626edbdbce9bfe300751fc5bf6b96d479
Due: none

chore(deps): update npm to v8.5.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(stale): change the name of the stale label
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
Due: npm run lint:other:hook

fix(logs): avoid showing a success log on error while fetching a label
  dist/index.js
  src/core/inputs/core-inputs.service.spec.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
Due: npm run lint:ts:hook

test(labels): add more coverage to ensure logs are correct
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
Due: npm run lint:ts:hook

chore(deps): update dependency eslint-config-prettier to v8.4.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(cache): add a generic cache service
  src/utils/cache/cache.service.spec.ts
  src/utils/cache/cache.service.ts
Due: npm run lint:ts:hook

chore(cache): add a service to cache labels
  src/utils/cache/github-api-labels.cache.service.spec.ts
  src/utils/cache/github-api-labels.cache.service.ts
Due: npm run lint:ts:hook

perf(cache): cache the fetching of labels to reduce the amount of API calls
  dist/index.js
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
  tests/issues/issue-to-close-extra-labels.spec.ts
  tests/issues/issue-to-stale-comment.spec.ts
  tests/issues/issue-to-stale-extra-labels.spec.ts
  tests/issues/issues-limit-api-mutations-count.spec.ts
  tests/pull-requests/pull-request-to-close-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale-extra-labels.spec.ts
  tests/pull-requests/pull-requests-limit-api-mutations-count.spec.ts
Due: npm run lint:ts:hook

docs(cache): mention in the docs where and why there is some cache
  documentation/docs/06-issues/01-inputs/02-stale-label-input.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/02-stale-label-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
Due: npm run lint:other:hook

build(release): new version 1.48.0
  CHANGELOG.md
  documentation/docs/14-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  c452836997ab9ea59d667a7369d493e51a37509e
Due: none

docs(fix): fix 2 typos in the 1.48.0 changelog
  CHANGELOG.md
  documentation/docs/14-changelog.md
Due: npm run lint:other:hook

docs(cache): add the "Cache" tag for all docs pages related to cache topics
  documentation/docs/06-issues/01-inputs/02-stale-label-input.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/02-stale-label-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
Due: npm run lint:other:hook

docs(api-count): add info block to explain that a negative count disable the inputs
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/06-issues/01-inputs/18-limit-api-mutations-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/21-limit-api-mutations-count-input.mdx
Due: npm run lint:other:hook

docs(github-token): add information about the required permissions
  documentation/docs/05-github-token-input.mdx
Due: npm run lint:other:hook
