Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

test: fix failing tests
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-ignore-processor.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

chore(statistics): create a dedicated service for issues statistics
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close-comment.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-to-stale-comment.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/issues/issue-with-all-assignees-ignored.spec.ts
  tests/issues/issue-with-all-labels-ignored.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-assignee.spec.ts
  tests/issues/issue-with-ignored-creation-date.spec.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
Due: npm run lint:ts:hook

chore(outputs): create a dedicated service for issues outputs
  src/core/outputs/enums/issues-outputs.enum.ts
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
Due: npm run lint:ts:hook

chore(outputs): add a pull requests outputs service
  src/core/outputs/enums/pull-requests-outputs.enum.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
Due: npm run lint:ts:hook

chore(statistics): add a service for pull requests statistics
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

test(pull-requests): add integration tests for pull requests
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/locked-pull-request.spec.ts
  tests/pull-requests/no-pull-request.spec.ts
  tests/pull-requests/pull-request-stale-and-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-all-assignees-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-labels-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-assignee.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
  tests/pull-requests/pull-request-with-ignored-label.spec.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

chore(api): add services to get the pull requests
  src/github/api/pull-requests/constants/github-api-close-pull-request-mutation.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/constants/github-assignees-per-pull-request.ts
  src/github/api/pull-requests/constants/github-labels-per-pull-request.ts
  src/github/api/pull-requests/constants/github-project-cards-per-pull-request.ts
  src/github/api/pull-requests/constants/github-pull-requests-per-page.ts
  src/github/api/pull-requests/github-api-pull-request-number.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/pull-requests/interfaces/github-api-get-pull-requests.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-requests-pagination.interface.ts
  src/github/api/timeline-items/constants/github-api-timeline-items-pull-request-labeled-event-query.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-pull-request-labeled-event.interface.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-pull-request-labeled-events.interface.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/locked-pull-request.spec.ts
  tests/pull-requests/no-pull-request.spec.ts
  tests/pull-requests/pull-request-stale-and-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-all-assignees-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-labels-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-assignee.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
  tests/pull-requests/pull-request-with-ignored-label.spec.ts
Due: npm run lint:ts:hook

chore(deps): lock file maintenance
  package-lock.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/luxon to v2.0.8
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest to v27.4.5
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency typescript to v4.5.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.7.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(contributing): explain how the pull requests processing is implemented
  CONTRIBUTING.md
Due: npm run lint:other:hook

build(ci): separate issues and pull requests integration report
  .github/workflows/build.yml
  package.json
Due: npm run lint:other:hook

test(pr): fix failing test
  src/core/pull-requests/pull-request-ignore-processor.ts
Due: npm run lint:ts:hook

style(typo): fix spellcheck error
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/pull-requests/pull-request-ignore-processor.spec.ts
Due: npm run lint:ts:hook

test: catch errors and improve the default values
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook

chore(index): update index
  dist/index.js
Due: npm run lint:ts:hook

chore(statistics): display the pull requests statistics
  dist/index.js
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.24.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  39e1664f7fe49a1408b0d5228ebebff092e4de2d
Due: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency ts-jest to v27.1.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v12.22.8
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency concurrently to v6.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(stale): configure the stale processing for pull requests
  .github/workflows/stale.yml
Due: npm run lint:other:hook

refactor: add an abstract service for the common inputs service
  dist/index.js
  src/core/inputs/abstract-inputs.service.ts
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/common-inputs.service.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/pull-requests/pull-request-close-stale-processor.ts
  src/core/pull-requests/pull-request-comments-processor.spec.ts
  src/core/pull-requests/pull-request-comments-processor.ts
  src/core/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/pull-requests/pull-request-remove-stale-processor.ts
  src/core/pull-requests/pull-request-stale-processor.spec.ts
  src/core/pull-requests/pull-request-stale-processor.ts
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
Due: npm run lint:ts:hook

test(config): add more configuration files for intellij
  .run/All Integration Issues Tests.run.xml
  .run/All Integration Pull Requests Tests.run.xml
  .run/All Integration Tests.run.xml
  .run/All Unit Tests.run.xml
Due: none

refactor: use an abstract service for the issues inputs service
  dist/index.js
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-is-stale-processor.spec.ts
  src/core/issues/issue-is-stale-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-should-close-stale-processor.spec.ts
  src/core/issues/issue-should-close-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

refactor: use an abstract service for the pull requests inputs service
  dist/index.js
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/pull-requests/pull-request-comments-processor.spec.ts
  src/core/pull-requests/pull-request-comments-processor.ts
  src/core/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/pull-requests/pull-request-ignore-processor.ts
  src/core/pull-requests/pull-request-is-stale-processor.spec.ts
  src/core/pull-requests/pull-request-is-stale-processor.ts
  src/core/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/pull-requests/pull-request-remove-stale-processor.ts
  src/core/pull-requests/pull-request-should-close-stale-processor.spec.ts
  src/core/pull-requests/pull-request-should-close-stale-processor.ts
  src/core/pull-requests/pull-request-stale-processor.spec.ts
  src/core/pull-requests/pull-request-stale-processor.ts
Due: npm run lint:ts:hook

test: fix failing test
  src/core/inputs/issues-inputs.service.spec.ts
Due: npm run lint:ts:hook

perf: fix jest performances issues when running locally
  jest.config.js
  package.json
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency @vercel/ncc to v0.33.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.8
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.1.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v8.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
