Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(deploy): add vercel token to auth
  .github/workflows/deploy-website.yml
  package.json
Due: npm run lint:other:hook

build(vercel): auto accept vercel pull
  package.json
Due: npm run lint:other:hook

build(deploy): vercel deploy by hand
  .github/workflows/deploy-website.yml
  package.json
Due: npm run lint:other:hook

chore(docusaurus): fix wraning about wrong url
  documentation/docusaurus.github.config.js
Due: npm run lint:ts:hook

build(deploy): add missing env
  .github/workflows/deploy-website.yml
Due: npm run lint:other:hook

build(deploy): split github and vercel
  .github/workflows/deploy-website.yml
  package.json
Due: npm run lint:other:hook

docs(inputs): reorder the added labels after close or stale
  README.md
  action.yml
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/51-days-before-close-input.mdx
  documentation/docs/06-issues/01-inputs/72-add-labels-after-stale-input.mdx
  documentation/docs/06-issues/01-inputs/73-add-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/51-days-before-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/72-add-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/73-add-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/74-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/75-delete-branch-after-close-input.mdx
Due: npm run lint:other:hook

docs(footer): change the link of the changelog
  documentation/docusaurus.core.config.js
  documentation/i18n/en/code.json
  documentation/i18n/en/docusaurus-plugin-content-blog/options.json
  documentation/i18n/en/docusaurus-plugin-content-docs/current.json
  documentation/i18n/en/docusaurus-theme-classic/footer.json
  documentation/i18n/en/docusaurus-theme-classic/navbar.json
Due: npm run lint:ts:hook, npm run lint:other:hook

build(docs): check that no English i18n are missing
  .github/workflows/build.yml
  documentation/README.md
  documentation/package.json
Due: npm run lint:other:hook

chore(contributing): improve it by adding the docs part
  CONTRIBUTING.md
Due: npm run lint:other:hook

chore(labeler): auto add the docs label when the documentation folder change
  .github/labeler.yml
Due: npm run lint:other:hook

docs(website): add a new page to explain the migration from v1 to v2
  documentation/docs/06-issues/01-inputs/71-close-reason-input.mdx
  documentation/docs/08-pull-requests/01-inputs/71-close-reason-input.mdx
  documentation/docs/16-migrations/02-migration-to-2.md
  documentation/docs/16-migrations/_category_.json
Due: npm run lint:other:hook

chore(website): add missing header links
  CONTRIBUTING.md
  documentation/docs/16-migrations/02-migration-to-2.md
  documentation/i18n/en/code.json
  documentation/i18n/en/docusaurus-plugin-content-docs/current.json
Due: npm run lint:other:hook

chore(website): add missing french translations
  .idea/stale.iml
  documentation/i18n/fr/docusaurus-plugin-content-docs/current.json
Due: npm run lint:other:hook

build(release): new version 2.2.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: update index
  dist/index.js
Due: npm run lint:ts:hook

chore(renovate): group jest and ts-jest major updates
  .renovaterc.json
Due: npm run lint:other:hook

feat(outputs): add new outputs `removed-issues-labels-count` and `issues-labels-count`
  README.md
  action.yml
  documentation/docs/04-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/10-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/11-added-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/12-removed-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/13-called-api-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/14-called-api-issues-queries-count-output.mdx
  documentation/docs/06-issues/02-outputs/15-called-api-issues-mutations-count-output.mdx
  src/core/outputs/annotations/issues-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/issues-outputs-annotations.service.ts
  src/core/outputs/enums/issues-outputs.enum.ts
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/statistics/issues-statistics.service.ts
  tests/issues/issue-to-stale-add-extra-labels.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

style(contributing): fix typo
  CONTRIBUTING.md
Due: npm run lint:other:hook

feat(stats): add new stats about the removed issues labels
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
Due: npm run lint:ts:hook

feat(stats): add new stats about the removed pull requests labels
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

feat(outputs): add new outputs `removed-pull-requests-labels-count` and `pull-requests-labels-count`
  README.md
  action.yml
  documentation/docs/04-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/10-issues-labels-count-output.mdx
  documentation/docs/08-pull-requests/01-inputs/74-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/02-outputs/01-all-outputs.mdx
  documentation/docs/08-pull-requests/02-outputs/11-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/12-added-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/13-removed-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/14-draft-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/15-called-api-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/16-called-api-pull-requests-queries-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/17-called-api-pull-requests-mutations-count-output.mdx
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.ts
  src/core/outputs/enums/pull-requests-outputs.enum.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(statistics): fix a typo in wording in the statistics website page
  documentation/docs/10-statistics.mdx
Due: npm run lint:other:hook

build(release): new version 2.3.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  f0/219e0574d25d62d9a8781c5cbbc00bfe860328
Due: none

fix(issues): fix closing issues bug due to the close reason feature
  dist/index.js
  src/github/api/issues/constants/github-api-close-issue-mutation.ts
Due: npm run lint:ts:hook

build(release): new version 2.3.1
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  c8/62ad1edd7893a3cedadbd34dcec61a9a54f59d
Due: none

chore(eslint): downgrade eslint to 8.22.0 to avoid a WebStorm issue
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(prs): remove the input `pull-request-close-reason`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/41-close-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/51-days-before-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/71-add-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/71-close-reason-input.mdx
  documentation/docs/08-pull-requests/01-inputs/72-remove-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/73-add-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/74-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/75-delete-branch-after-close-input.mdx
  documentation/docs/16-migrations/02-migration-to-2.md
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  tests/pull-requests/pull-request-close-reason.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 2.3.2
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  64/17c2cb719a63916f4cd4d22968703129974bc6
Due: none

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js,mjs}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
