Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

feat(pull-request): add new input `pull-request-ignore-draft`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/pull-requests/draft-pull-request.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.25.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  49380e1c7bfd37090076e18ce03e5b5a9c780421
Due: none

fix(processing): fix an issue with infinite batches processing
  dist/index.js
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.25.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  db9b98231b7f45e70a279d964672de2361383a9d
Due: none

feat(logs): add counts in the batches and processed items logs
  dist/index.js
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Due: npm run lint:ts:hook

chore(deps): update dependency @types/node to v14.18.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v25.3.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): lock file maintenance
  package-lock.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  f30fec2244618de8369fd3f2a15e3ea2b97a47a9
Due: none

build(release): new version 1.26.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(readme): add two badges to show npm version and downloads per month
  README.md
Due: npm run lint:other:hook

feat(logs): add a log when a statistic is increased
  dist/index.js
  src/core/statistics/abstract-statistics.service.ts
  src/core/statistics/issues-statistics.service.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

chore(code-climate): properly exclude spec files from analysis
  .codeclimate.yml
Due: npm run lint:other:hook

chore(idea): share the intellij configuration
  .gitignore
  .idea/.gitignore
  .idea/azure/azureSettings.xml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/libraries/actions.xml
  .idea/libraries/jest.xml
  .idea/libraries/lodash.xml
  .idea/libraries/luxon.xml
  .idea/libraries/terminal_link.xml
  .idea/libraries/ts_auto_mock.xml
  .idea/libraries/types.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/stale.iml
  .idea/vcs.xml
Due: none

style(test): fix a typo in a test
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
Due: npm run lint:ts:hook

docs(jsdoc): fix jsdoc warnings
  .prettierignore
  src/utils/arrays/get-duplicates.ts
  src/utils/maps/get-map-last-key.ts
  src/utils/maps/get-map-longest-key.ts
  src/utils/maps/map-filter.ts
Due: npm run lint:ts:hook

docs(readme): change the link to npm badges to go to npm instead
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-import to v2.25.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.1.5
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.5.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency concurrently to v7
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.5
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest to v27.4.7
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.1.7
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.9.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/luxon to v2.0.9
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.5.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.6.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(stats): add a new statistic for the number of issue added labels
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
Due: npm run lint:ts:hook

feat(stats): add a new statistic for the number of PR added labels
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Due: npm run lint:ts:hook

chore(api): add new method to add multiple labels to a target
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/constants/github-api-add-labels-mutation.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
Due: npm run lint:ts:hook

feat(label): add new inputs to add extra labels after marking as stale
  README.md
  action.yml
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.ts
  src/core/processing/pull-requests/pull-request-stale-processor.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test: add more coverage to add extra labels
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
