Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

chore: update package-lock
  package-lock.json
Due: npm run lint:other:hook

test(issue): add unit coverage for processToAddExtraLabels$$ method
  CONTRIBUTING.md
  src/core/processing/abstract-logger.ts
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/utils/loggers/logger.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(pr): add unit coverage for processToAddExtraLabels$$ method
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook

chore: build the app
  dist/index.js
Due: npm run lint:ts:hook

build(release): new version 1.27.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  23927ce79942ff9fa2edee2dd732ba5b9cde0ebb
Due: none

chore: exclude the tests folder for coe climate analysis
  .codeclimate.yml
Due: npm run lint:other:hook

chore(deps): update dependency shx to v0.3.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v12.22.9
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.9.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update dependency luxon to v2.3.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/changelog to v6
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/git to v10
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency faker to v6
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/github to v8
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v18
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v14
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(stale): add in last the stale label to avoid removing the stale the next run
  CONTRIBUTING.md
  dist/index.js
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.27.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  ea1b7cb486df289e7eabf9247fbce381a47e6e62
Due: none

test(stats): add more coverage for the added labels count statistic
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook

chore(deps): update dependency ts-jest to v27.1.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.7
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v25.7.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(eslint): add two new rules for jest
  .eslintrc.yml
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.10.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(processing): add new input to enable or disable the processing
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issue-processor.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/issues/issues.service.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.ts
  tests/issues/issue-processing.spec.ts
  tests/pull-requests/pull-request-processing.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(jest): silence jest when running in the CI
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v8.7.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.28.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  30d38fb2eb3e26fd68a17ffa15937dd1cb9203dd
Due: none

feat(draft): add new input to convert a pull request to draft instead of stale
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-draft-processor.spec.ts
  src/core/processing/pull-requests/pull-request-draft-processor.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-request-processor.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/pull-requests/constants/github-api-draft-pull-request-mutation.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  tests/pull-requests/pull-request-to-draft.spec.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(outputs): add draft pull requests count output
  README.md
  dist/index.js
  src/core/outputs/enums/pull-requests-outputs.enum.ts
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
  src/core/processing/pull-requests/pull-request-draft-processor.spec.ts
  src/core/processing/pull-requests/pull-request-draft-processor.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/draft-pull-request.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/locked-pull-request.spec.ts
  tests/pull-requests/no-pull-request.spec.ts
  tests/pull-requests/pull-request-processing.spec.ts
  tests/pull-requests/pull-request-stale-and-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-draft.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-all-assignees-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-labels-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-branch-to-delete.spec.ts
  tests/pull-requests/pull-request-with-ignored-assignee.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
  tests/pull-requests/pull-request-with-ignored-label.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(renovate): allow Renovate to update GitHub Actions dependencies
  .renovaterc.json
Due: npm run lint:other:hook

build(release): new version 1.29.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  dbac176e205f0351790b53994229405669595df0
Due: none

feat(labels): add new input to add extra labels after closing an item
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-close-stale-processor.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  tests/issues/issue-to-close-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close-extra-labels.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(perf): change to run the tests on the CI with only 2 cores
  package.json
Due: npm run lint:other:hook

build(release): new version 1.30.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  242650a0ee278952536439ccdef913befe66773b
Due: none
