Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

refactor: add a common processor to avoid code duplication
  dist/index.js
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-should-close-processor.ts
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issue-processor.ts
  src/core/processing/issues/issue-should-close-processor.spec.ts
  src/core/processing/issues/issue-should-close-processor.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-request-processor.ts
  src/core/processing/pull-requests/pull-request-should-close-processor.spec.ts
  src/core/processing/pull-requests/pull-request-should-close-processor.ts
Due: npm run lint:ts:hook

refactor: use an abstract common class for the fake processors
  tests/utils/abstract-fake-processor.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Due: npm run lint:ts:hook

docs(readme): add link to the documentation website
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.9
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.2.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v19
  package.json
Due: npm run lint:other:hook

docs(website): ignore the build folder
  .eslintignore
  .idea/stale.iml
  .prettierignore
  documentation/README.md
  documentation/sidebars.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(intellij): configure some rules to rise errors
  .idea/inspectionProfiles/Project_Default.xml
Due: none

chore(labeler): add new automatic label for the website
  .github/labeler.yml
Due: npm run lint:other:hook

chore(lint): run prettier on mdx files
  .idea/prettier.xml
  .lintstagedrc
  .renovaterc.json
Due: npm run lint:other:hook

docs(website): add i18n for french
  documentation/blog/2019-05-28-first-blog-post.md
  documentation/blog/2019-05-29-long-blog-post.md
  documentation/blog/2021-08-01-mdx-blog-post.mdx
  documentation/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  documentation/blog/2022-001-20-first-website-draft/index.mdx
  documentation/docs/intro.md
  documentation/docs/tutorial-basics/congratulations.md
  documentation/docs/tutorial-basics/create-a-blog-post.md
  documentation/docs/tutorial-basics/create-a-document.md
  documentation/docs/tutorial-basics/create-a-page.md
  documentation/docs/tutorial-basics/deploy-your-site.md
  documentation/docs/tutorial-basics/markdown-features.mdx
  documentation/docs/tutorial-extras/manage-docs-versions.md
  documentation/docs/tutorial-extras/translate-your-site.md
  documentation/docusaurus.config.js
  documentation/i18n/fr/code.json
  documentation/i18n/fr/docusaurus-plugin-content-blog/2022-001-20-first-website-draft/index.mdx
  documentation/i18n/fr/docusaurus-plugin-content-blog/authors.yml
  documentation/i18n/fr/docusaurus-plugin-content-blog/options.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/current.json
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
  documentation/i18n/fr/docusaurus-theme-classic/navbar.json
  documentation/package.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(website): add explicit config options
  documentation/docusaurus.config.js
Due: npm run lint:ts:hook

docs(website): improve the readme
  documentation/README.md
  documentation/docusaurus.config.js
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): add build and release steps for the website
  .github/workflows/build.yml
  .github/workflows/release.yml
  documentation/README.md
  documentation/package.json
Due: npm run lint:other:hook

build(ci): stop using matrix
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(build): fix an issue due to jsx and ts
  documentation/tsconfig.json
  package.json
  tsconfig.json
Due: npm run lint:other:hook

build(ci): fix node modules issues
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(ci): use consistent npm install commands
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(codeclimate): ignore the website from the analysis
  .codeclimate.yml
Due: npm run lint:other:hook

chore(codecov): ignore documentation folder from codecov analysis
  codecov.yml
Due: npm run lint:other:hook

chore(jest): improve the globs to match only what needs to be tested
  jest.config.js
Due: npm run lint:ts:hook

build(ci): add a step to check if there is missing french translations for the website
  .github/workflows/build.yml
Due: npm run lint:other:hook

chore(issue-template): add new issue template to create a blog article request
  .github/ISSUE_TEMPLATE/blog_post.md
Due: npm run lint:other:hook

style(issue-template): rename the name of the blog template
  .github/ISSUE_TEMPLATE/blog_article.md
Due: npm run lint:other:hook

docs(blog): write the welcome article
  .editorconfig
  documentation/blog/2022-001-20-first-website-draft/index.mdx
  documentation/i18n/fr/docusaurus-plugin-content-blog/2022-001-20-first-website-draft/index.mdx
Due: none

docs(website): remove useless pages
  documentation/docs/01-introduction.mdx
  documentation/docs/02-issues/01-all-options.mdx
  documentation/docs/02-issues/_category_.json
  documentation/docs/intro.md
  documentation/docs/tutorial-basics/_category_.json
  documentation/docs/tutorial-basics/congratulations.md
  documentation/docs/tutorial-basics/create-a-blog-post.md
  documentation/docs/tutorial-basics/create-a-document.md
  documentation/docs/tutorial-basics/create-a-page.md
  documentation/docs/tutorial-basics/deploy-your-site.md
  documentation/docs/tutorial-basics/markdown-features.mdx
  documentation/docs/tutorial-extras/_category_.json
  documentation/docs/tutorial-extras/manage-docs-versions.md
  documentation/docusaurus.config.js
  documentation/static/robots.txt
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): add a check to know if there are missing heading ids in the website
  .github/workflows/build.yml
Due: npm run lint:other:hook

chore(nvm): add nvm config files
  .github/workflows/build.yml
  .github/workflows/release.yml
  .nvmrc
  documentation/.nvmrc
Due: npm run lint:other:hook

docs(pr-template): add new check regarding the website update
  PULL_REQUEST_TEMPLATE.md
Due: npm run lint:other:hook

docs(readme): add missing break of lines
  README.md
Due: npm run lint:other:hook

docs(website): add how, default config and getting started entries
  documentation/blog/2022-001-20-first-website-draft/index.mdx
  documentation/docs/01-introduction.mdx
Due: none

docs(website): add the workflow creation page
  documentation/docs/02-getting-started/01-workflow-creation.mdx
  documentation/docs/02-getting-started/_category_.json
  documentation/docs/02-issues/01-all-options.mdx
  documentation/docs/03-issues/01-all-options.mdx
  documentation/docs/03-issues/_category_.json
Due: npm run lint:other:hook

docs(website): create the workflow testing page
  documentation/docs/02-getting-started/01-workflow-creation.mdx
  documentation/docs/02-getting-started/02-workflow-testing.mdx
Due: none

docs(website): add more pages to describe the options
  README.md
  documentation/docs/02-getting-started/01-workflow-creation.mdx
  documentation/docs/02-getting-started/02-workflow-testing.mdx
  documentation/docs/03-all-options.mdx
  documentation/docs/03-issues/01-all-options.mdx
  documentation/docs/04-github-token-option.mdx
  documentation/docs/05-dry-run-option.mdx
  documentation/docs/06-issues/01-all-options.mdx
  documentation/docs/06-issues/_category_.json
  documentation/docs/07-pull-requests/01-all-options.mdx
  documentation/docs/07-pull-requests/_category_.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/01-introduction.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/02-getting-started/01-workflow-creation.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/02-getting-started/02-workflow-testing.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/02-getting-started/_category_.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/03-all-options.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/04-github-token-option.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/05-dry-run-option.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/06-issues/01-all-options.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/06-issues/_category_.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/07-pull-requests/01-all-options.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/07-pull-requests/_category_.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/current.json
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
  documentation/i18n/fr/docusaurus-theme-classic/navbar.json
Due: npm run lint:other:hook

docs(website): change the favicon and logo
  documentation/static/img/docusaurus.png
  documentation/static/img/favicon.ico
  documentation/static/img/logo.svg
  documentation/static/img/tutorial/docsVersionDropdown.png
  documentation/static/img/tutorial/localeDropdown.png
Due: none

docs(website): change the colour palette
  documentation/src/css/custom.css
Due: none

docs(website): update the home page
  documentation/i18n/fr/code.json
  documentation/src/components/HomepageFeatures.tsx
  documentation/src/pages/index.tsx
  documentation/src/pages/markdown-page.md
  documentation/static/img/available-updates.svg
  documentation/static/img/gears.svg
  documentation/static/img/undraw_docusaurus_mountain.svg
  documentation/static/img/undraw_docusaurus_react.svg
  documentation/static/img/undraw_docusaurus_tree.svg
  documentation/static/img/web.svg
Due: npm run lint:other:hook

build(ci): fix an issue due to duplicated ids
  .github/workflows/build.yml
Due: npm run lint:other:hook

docs(website): add example page
  documentation/docs/08-examples/01-issues.mdx
  documentation/docs/08-examples/_category_.json
  documentation/docusaurus.config.js
  documentation/i18n/fr/docusaurus-plugin-content-docs/08-examples/01-issues.mdx
  documentation/i18n/fr/docusaurus-plugin-content-docs/08-examples/_category_.json
  documentation/i18n/fr/docusaurus-plugin-content-docs/current.json
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
