Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

chore: fix lint:ts scripts
  .idea/codeStyles/Project.xml
  package.json
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/abstract-is-stale-processor.ts
  src/core/processing/abstract-processor.ts
  src/core/processing/abstract-remove-stale-processor.ts
  src/core/processing/abstract-should-close-processor.ts
  src/core/processing/abstract-stale-processor.ts
  src/github/api/abstract-github-api.service.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/references/abstract-github-api-references.service.ts
  src/github/api/timeline-items/abstract-github-api-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/utils/loggers/logger-annotations.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: fix failing tests
  dist/index.js
  dist/licenses.txt
  jest.config.ts
  package-lock.json
  package.json
  src/github/octokit/octokit.service.ts
  src/utils/links/create-input-link.ts
  src/utils/links/create-link.spec.ts
  src/utils/links/create-link.ts
  tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(docusaurus): migrate to v3
  .idea/jsLibraryMappings.xml
  dist/index.js
  documentation/docusaurus.core.config.js
  documentation/i18n/en/docusaurus-theme-classic/footer.json
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
  documentation/package-lock.json
  documentation/package.json
  documentation/src/modules/sentry.module.ts
  package-lock.json
  package.json
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: update the labeler workflow
  .github/workflows/label.yml
Due: npm run lint:other:hook

chore: update @types/node to 20
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(dependencies): update to some patches
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: ignore .idea config file (#1187)
  .gitignore
Due: none

chore(stale): change the workflow permissions (#1190)
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
  action.yml
Due: npm run lint:other:hook

chore(dependencies): update some dependencies
  .eslintrc.json
  CHANGELOG.md
  dist/index.js
  dist/licenses.txt
  dist/schema.graphql
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/issue-close-reason.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close-add-extra-labels.spec.ts
  tests/issues/issue-to-close-comment.spec.ts
  tests/issues/issue-to-close-remove-extra-labels.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-with-ignored-creation-date.spec.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/pull-request-to-close-add-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close-remove-extra-labels.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-with-branch-to-delete.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(node): migrate the action to node 20
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
  .nvmrc
  .tool-versions
  action.yml
  documentation/.nvmrc
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: update docs translations
  documentation/i18n/en/code.json
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

docs(analytics): configure vercel analytics for the docs
  documentation/package-lock.json
  documentation/package.json
  documentation/src/pages/index.tsx
Due: npm run lint:other:hook

build(release): new version 3.1.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e4/6d1c6b151497c6c14138b814db9add5f371412
Due: none

chore(idea): ignore file
  .idea/.gitignore
Due: none

build(release): new version 3.1.0 (#1232)
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js,mjs}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
