Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html,mdx}": [
    "npm run lint:other:hook"
  ]
}

fix(logs): properly count the number of processed items within all batches in the logs
  dist/index.js
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Due: npm run lint:ts:hook

chore(index): rebuild the index
  dist/index.js
Due: npm run lint:ts:hook

build(release): new version 1.43.1
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  5b0f554db5bf97104c01f6c3cc4b819221488952
Due: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.8.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(deps): update dependency prism-react-renderer to v1.3.1
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

docs(fix): correctly highlight the examples
  documentation/docs/06-issues/02-outputs/02-processed-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/03-ignored-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/04-unaltered-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/05-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/06-already-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/07-remove-stale-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/08-close-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/09-added-issues-comments-count-output.mdx
  documentation/docs/06-issues/02-outputs/10-added-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/11-called-api-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/12-called-api-issues-queries-count-output.mdx
  documentation/docs/06-issues/02-outputs/13-called-api-issues-mutations-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/02-processed-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/03-ignored-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/04-unaltered-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/05-stale-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/06-already-stale-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/07-remove-stale-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/08-close-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/09-deleted-pull-requests-branches-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/10-added-pull-requests-comments-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/11-added-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/12-draft-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/13-called-api-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/14-called-api-pull-requests-queries-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/15-called-api-pull-requests-mutations-count-output.mdx
Due: npm run lint:other:hook

build(auth): change the github token used to use Sonia bot token instead
  .github/workflows/deploy-website.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(deps): update dependency marked to 4.0.10 [security]
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.43.2
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  5da70f95c73a4148b771c76f98fb1dc6aa7d1e72
Due: none

chore(greetings): improve the content of the greeting message
  .github/workflows/greetings.yml
Due: npm run lint:other:hook

docs: add @Sonia-corporation-bot as a contributor
  .all-contributorsrc
  README.md
Due: npm run lint:other:hook

docs: update @C0ZEN as a contributor
  .all-contributorsrc
  README.md
Due: npm run lint:other:hook

chore(npm): add new script to check if there is a missing contributor
  package.json
Due: npm run lint:other:hook

docs: add @iainlane as a contributor
  .all-contributorsrc
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/changelog to v6
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/git to v10
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/github to v8
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency faker to v6
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v18
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.11
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(dependencies): update semantic-release
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v19
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(readme): add a link to the changelog
  README.md
Due: npm run lint:other:hook

chore(docs): configure the plugin-ideal-image
  documentation/docusaurus.config.js
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(annotations): add a new page to explain what are the annotations
  .releaserc.json
  documentation/docs/11-annotations.mdx
  documentation/docs/12-changelog.md
  documentation/package.json
  documentation/scripts/generate-changelog.js
  documentation/static/img/annotations-notice.png
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(blog): add new blog post to introduce the first inclusive input
  documentation/blog/2022-01-20-first-website-draft/index.mdx
  documentation/blog/2022-02-11-first-inclusive-input/index.mdx
Due: npm run lint:other:hook

docs(need-help): add a new page to explain how to get some help
  .releaserc.json
  documentation/docs/11-annotations.mdx
  documentation/docs/12-need-help.mdx
  documentation/docs/13-changelog.md
  documentation/package.json
  documentation/scripts/generate-changelog.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(docs): add french translations
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

docs(outputs): add tip about annotations
  documentation/docs/04-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/08-pull-requests/02-outputs/01-all-outputs.mdx
Due: npm run lint:other:hook

docs(stats): add tip about annotations
  documentation/docs/10-statistics.mdx
Due: npm run lint:other:hook

build(release): new version 1.44.0
  CHANGELOG.md
  documentation/docs/13-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  9ee6897d9a14c82823a3ff627599e0249a2f43f8
Due: none
