Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency follow-redirects to 1.14.8 [security]
  documentation/package-lock.json
Due: npm run lint:other:hook

chore(deps): update npm to v8.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency node-fetch to 2.6.7 [security]
  documentation/package-lock.json
  package-lock.json
Due: npm run lint:other:hook

chore(renovate): only rebase on conflict
  .renovaterc.json
Due: npm run lint:other:hook

chore(renovate): allow updates out of schedule time
  .renovaterc.json
Due: npm run lint:other:hook

chore(renovate): remove schedules
  .renovaterc.json
Due: npm run lint:other:hook

chore(renovate): rebase lock file and vulnerabilities asao
  .renovaterc.json
Due: npm run lint:other:hook

chore(deps): lock file maintenance
  documentation/package-lock.json
  package-lock.json
Due: npm run lint:other:hook

chore: update build
  dist/index.js
Due: npm run lint:ts:hook

chore(deps): update dependency eslint to v8.9.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): use the latest changelog when deploying the website after a release
  .github/workflows/release.yml
Due: npm run lint:other:hook

docs(footer): add a link on the footer to get some help
  documentation/docusaurus.config.js
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(badge): add a new page to show our badge
  .releaserc.json
  documentation/docs/13-badge.mdx
  documentation/docs/14-changelog.md
  documentation/scripts/generate-changelog.js
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(ui): change the brand name and the color scheme to follow Sonia style
  documentation/blog/authors.yml
  documentation/docs/13-badge.mdx
  documentation/docusaurus.config.js
  documentation/i18n/fr/code.json
  documentation/i18n/fr/docusaurus-theme-classic/navbar.json
  documentation/package.json
  documentation/src/css/custom.css
  documentation/src/pages/index.tsx
  documentation/static/img/favicon.ico
  documentation/static/img/logo.svg
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(readme): add the sonia stale badge
  README.md
  documentation/docs/13-badge.mdx
Due: npm run lint:other:hook

docs(blog): add new entry to explain the change of UI
  documentation/blog/2022-02-12-new-ui/index.mdx
  documentation/blog/authors.yml
  documentation/static/img/after-rebranding-to-sonia.png
  documentation/static/img/before-rebranding-to-sonia.png
Due: npm run lint:other:hook

chore(action): remove the dot at the end of the description
  action.yml
Due: npm run lint:other:hook

docs(readme): add the sonia changelog badge
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(prs): add new input `pull-request-only-any-project-cards`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/22-only-any-project-cards-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/abstract-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issue-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-request-processor.ts
  src/utils/annotations/enums/annotation-warning-pull-request.enum.ts
  tests/pull-requests/pull-request-only-any-project-card.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(ci): run jest in band to improve speed
  package.json
Due: npm run lint:other:hook

chore(concurrently): use coloured scripts
  package.json
Due: npm run lint:other:hook

chore(dependencies): add gnomon to measure timings
  package-lock.json
  package.json
Due: npm run lint:other:hook

test(mocked): refactor the import of mocked to use the new syntax
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Due: npm run lint:ts:hook

test(projects): refactor the jest config to use projects
  .run/All Integration Issues Tests.run.xml
  .run/All Integration Pull Requests Tests.run.xml
  .run/All Integration Tests.run.xml
  .run/All Tests.run.xml
  .run/All Unit Tests.run.xml
  jest.config.js
  jest/integration-issues-ci/config.ts
  jest/integration-issues/config.ts
  jest/integration-pull-requests-ci/config.ts
  jest/integration-pull-requests/config.ts
  jest/unit-ci/config.ts
  jest/unit/config.ts
  package.json
  src/core/processing/issues/issue-processor.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.45.0
  CHANGELOG.md
  documentation/docs/14-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  1f97b1bf37936bfc3c9678aaa4636807612fef38
Due: none

chore(deps): update dependency @vercel/ncc to v0.33.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(logs): hide the sub-statistics when the count is 0
  dist/index.js
  src/core/statistics/abstract-statistics.service.ts
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
Due: npm run lint:ts:hook

feat(annotations): add references to the root cause of the error annotations
  dist/index.js
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/core-inputs.service.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/references/abstract-github-api-references.service.ts
  src/github/api/references/github-api-pull-request-references.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
  src/utils/annotations/annotations.service.spec.ts
  src/utils/annotations/annotations.service.ts
  src/utils/annotations/enums/annotation-error-issue.enum.ts
  src/utils/annotations/enums/annotation-error-pull-request.enum.ts
  src/utils/annotations/statistics-annotations.service.js
  src/utils/annotations/types/annotations-properties.ts
  src/utils/loggers/logger-annotations.service.spec.ts
  src/utils/loggers/logger-annotations.service.ts
Due: npm run lint:ts:hook

feat(annotations): add references to the root cause of the warning annotations
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/utils/annotations/annotations.service.spec.ts
  src/utils/annotations/annotations.service.ts
  src/utils/loggers/logger-annotations.service.spec.ts
  src/utils/loggers/logger-annotations.service.ts
Due: npm run lint:ts:hook

refactor(outputs): use a mapper to log the issues outputs
  .eslintrc.yml
  src/core/outputs/issues-outputs.service.ts
  src/utils/enums/get-enum-keys.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

refactor(outputs): use a mapper to log the prs outputs
  dist/index.js
  src/core/outputs/pull-requests-outputs.service.ts
Due: npm run lint:ts:hook

chore(eslint): add linter rules to have forced JSDoc
  .eslintrc.yml
  documentation/scripts/chalk.js
  documentation/scripts/logger.js
  scripts/chalk.js
  scripts/logger.js
Due: npm run lint:ts:hook, npm run lint:other:hook

refactor(notices): use a mapper to log the issues notice annotations
  dist/index.js
  src/core/outputs/annotations/issues-outputs-annotations.service.ts
  src/core/outputs/annotations/notice-count.spec.ts
  src/core/outputs/annotations/notice-count.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/outputs/pull-requests-outputs.service.ts
  src/utils/enums/get-enum-keys.spec.ts
Due: npm run lint:ts:hook

refactor(notices): use a mapper to log the prs notice annotations
  dist/index.js
  src/core/outputs/annotations/issues-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/issues-outputs-annotations.service.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.46.0
  CHANGELOG.md
  documentation/docs/14-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
