Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

chore(test): remove unused file
  jest/helpers.js
Due: npm run lint:ts:hook

test(issue): add more coverage
  package-lock.json
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(api): add the id of the issue while fetching the github api
  CONTRIBUTING.md
  src/core/issues/issue-stale-processor.spec.ts
  src/github/api/issues/github-api-issue.interface.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/utils/dates/uuid.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(labels): add a new feature to get a label from the repository
  dist/index.js
  dist/licenses.txt
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/github-issues-per-page.ts
  src/github/api/labels/github-api-get-label-pagination.interface.ts
  src/github/api/labels/github-api-get-label.interface.ts
  src/github/api/labels/github-api-label.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

refactor(interfaces): move some interfaces into sub-folders
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/issues/interfaces/github-api-issues-pagination.interface.ts
  src/github/api/issues/interfaces/github-api-issues.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-get-label.interface.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

feat(labels): add a new feature to add a label to an issue
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-label.interface.ts
Due: npm run lint:ts:hook

feat(stale): add a stale label on issue not updated since 30 days
  dist/index.js
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

feat(logs): add logs for the stale label
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

chore(deps): update dependency eslint-plugin-import to v2.25.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

refactor(api): use constants for readability
  src/github/api/issues/github-api-issues-query.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/constants/github-api-add-label-to-issue-mutation.ts
  src/github/api/labels/constants/github-api-get-label-query.ts
  src/github/api/labels/github-api-labels.service.ts
Due: npm run lint:ts:hook

chore(logs): improve the logs for the stale issue
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

test(sut): improve the way to create a bunch of issues
  tests/issues/batches-of-issues.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

test(api): fix the failing tests
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/labels/github-api-labels.service.spec.ts
Due: npm run lint:ts:hook

test(stale): add integration test
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/labels/constants/github-api-add-label-mutation.ts
  src/github/api/labels/constants/github-api-label-by-name-query.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  tests/issues/issue-to-stale.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

chore(build): build the app
  dist/index.js
Due: npm run lint:ts:hook

test(name): rename top describe
  src/core/issues/issue-stale-processor.spec.ts
Due: npm run lint:ts:hook

test(name): rename top describe
  src/core/issues/issue-processor.spec.ts
Due: npm run lint:ts:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(test): remove the test job from the build
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(release): new version 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  c882b8deb3ed1790a12761050e146baa2371071a
Due: none

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(logger): add a new method to display a value
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
Due: npm run lint:ts:hook

refactor(logs): use the value logger method instead of the cyan format
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Due: npm run lint:ts:hook

chore(labels): fetch the labels on the issues
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/issues/github-api-issues-query.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label.interface.ts
  src/github/api/labels/interfaces/github-api-labels-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-labels.interface.ts
Due: npm run lint:ts:hook

chore(utils): add a new util method to extract the duplicates from an array
  src/utils/arrays/get-duplicates.spec.ts
  src/utils/arrays/get-duplicates.ts
Due: npm run lint:ts:hook

feat(issue): add new input issue-ignore-any-labels to ignore the processing of issues with specific labels
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-issues-per-page.ts
  src/github/api/issues/constants/github-labels-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(contributing): fix plural typo
  CONTRIBUTING.md
Due: npm run lint:other:hook

docs(readme): use better english
  README.md
Due: npm run lint:other:hook

Notes added by 'git notes add'
  b02f0c4e3646ec093b17eb18d76cf955d13a4c93
Due: none

build(release): new version 1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(dry-run): ignore the stale label addition in dry-run mode
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(logs): add more logs for the dry-run and the stale label
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

build(release): new version 1.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  524ad3ab2cd559680d4bb67c81cc2802c18e6394
Due: none

docs(readme): add a warning about WIP state
  README.md
Due: npm run lint:other:hook

chore(check): add new function to check if a number is finite
  src/utils/numbers/is-finite-number.spec.ts
  src/utils/numbers/is-finite-number.ts
Due: npm run lint:ts:hook

chore(inputs): add new method to parse an input to a number
  .eslintrc.yml
  src/core/inputs/inputs.service.ts
  src/utils/loggers/logger.service.ts
  src/utils/numbers/is-finite-number.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(issue): add a new input "issue-days-before-stale" to choose when to stale
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook
