Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

Notes added by 'git notes add'
  c46f163c0e538b3191d4162aa24d1eb8f7248b82
Due: none

feat(issue): add new input issue-days-before-close to customize the number of days before closing a stale issue
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(cache): skip npm ci if the node modules are in the cache
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(lint): separate the lint of other and ts files
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(cache): use the same cache between the different workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(cache): add cache for jest
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(release): new version 1.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  69a151ab1ba78a0518833513c326d067567c4e34
Due: none

feat(logs): improve the issue logger to always add the issue id as a prefix
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

feat(issue): stop processing an issue already stale
  src/core/issues/issue-is-stale-processor.spec.ts
  src/core/issues/issue-is-stale-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Due: npm run lint:ts:hook

chore(api): allow to remove a label from an issue
  src/github/api/labels/constants/github-api-remove-label-mutation.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Due: npm run lint:ts:hook

feat(issue): remove the stale label from the issue when no longer stale
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
Due: npm run lint:ts:hook

chore(build): build and fix the tests
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Due: npm run lint:ts:hook

chore(api): add new api call to get a list of added label items from an issue
  .eslintrc.yml
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/timeline-items/constants/github-api-timeline-items-issue-labeled-event-query.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-issue-labeled-event.interface.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-issue-labeled-events.interface.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(logger): add a new method to log a date
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  src/utils/types/uuid.ts
Due: npm run lint:ts:hook

refactor(types): move some files
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-label.interface.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
Due: npm run lint:ts:hook

chore(date): add new function to parse a date to datetime
  src/utils/dates/iso-8601-to-datetime.spec.ts
  src/utils/dates/iso-8601-to-datetime.ts
Due: npm run lint:ts:hook

chore(date): add new function to compare datetime
  src/utils/dates/is-date-more-recent.spec.ts
  src/utils/dates/is-date-more-recent.ts
Due: npm run lint:ts:hook

feat(issue): remove the stale label when the creation date of the label is sooner than the update date
  CONTRIBUTING.md
  README.md
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(integration): add more coverage for the stale removal
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/utils/fake-issues-processor.ts
Due: npm run lint:ts:hook

test(date): change the format of the date to avoid issues between local and CI
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  src/utils/loggers/mock-date-format.ts
Due: npm run lint:ts:hook

test(dates): fix offset issues between local and CI dates
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-stale.spec.ts
Due: npm run lint:ts:hook

feat(logs): display the api services logs with the issue prefix
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
Due: npm run lint:ts:hook

feat(logs): round the difference of days in the logs
  dist/index.js
  src/core/issues/issue-stale-processor.ts
Due: npm run lint:ts:hook

Notes added by 'git notes add'
  b5ac4727c78b780520c6809659cf9a1dcc8bb591
Due: none

build(release): new version 1.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(map): add new function to get the longest key in a map
  src/utils/maps/get-map-longest-key.spec.ts
  src/utils/maps/get-map-longest-key.ts
Due: npm run lint:ts:hook

chore(map): add new function to get the last key of a map
  src/utils/maps/get-map-last-key.spec.ts
  src/utils/maps/get-map-last-key.ts
Due: npm run lint:ts:hook

chore(map): add new function to filter a map
  src/utils/maps/map-filter.spec.ts
  src/utils/maps/map-filter.ts
Due: npm run lint:ts:hook

feat(logs): add statistics in the logs
  .eslintrc.yml
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  afbb25e32faa28bbd55f2d750f82ae5713742703
Due: none

docs(readme): improve the docs to include the stale label removal
  README.md
Due: npm run lint:other:hook

docs(readme): break a line
  README.md
Due: npm run lint:other:hook

feat(stats): add a statistics regarding the unaltered issues
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Due: npm run lint:ts:hook

chore(deps): update dependency concurrently to v6.4.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/changelog to v6
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/git to v10
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @semantic-release/github to v8
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: npm run lint:other:hook
