Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(ci): replace the way to lint pr titles
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/semantic.yml
  scripts/commitizen.js
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): replace the way to lint pr titles (#711)
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/semantic.yml
  scripts/commitizen.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(eslint): configure `jest/prefer-hooks-on-top` rule
  .eslintrc.json
  .idea/misc.xml
  documentation/package-lock.json
Due: npm run lint:other:hook

chore: update index
  .idea/misc.xml
  dist/index.js
Due: npm run lint:ts:hook

chore: update index
  dist/index.js
  documentation/package-lock.json
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: update index
  dist/index.js
Due: npm run lint:ts:hook

docs(i18n): add more translations for french
  documentation/i18n/fr/code.json
Due: npm run lint:other:hook

chore(node): properly upgrade to node 16.16
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
  .nvmrc
  documentation/.nvmrc
Due: npm run lint:other:hook

chore(eslint): disable jest/max-expects rule
  .eslintrc.json
Due: npm run lint:other:hook

chore: migrate some scripts to esm
  .codeclimate.yml
  .eslintrc.json
  .gitattributes
  .github/labeler.yml
  .idea/jsLinters/eslint.xml
  .lintstagedrc
  documentation/package.json
  documentation/scripts/chalk.mjs
  documentation/scripts/generate-changelog.mjs
  documentation/scripts/get-directory-name.mjs
  documentation/scripts/logger.mjs
  jest.config.js
  package.json
  scripts/chalk.mjs
  scripts/get-directory-name.mjs
  scripts/logger.mjs
  scripts/prepare-release.mjs
Due: npm run lint:ts:hook, npm run lint:other:hook

chore: build index
  dist/index.js
Due: npm run lint:ts:hook

chore(jest): migrate to jest 28
  .idea/jsLibraryMappings.xml
  .idea/libraries/jest_mock.xml
  jest.config.js
  package-lock.json
  package.json
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  tsconfig.app.json
  tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(issues): add new input `issue-only-with-assignees`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/24-only-with-assignees-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/issues/issue-only-with-assignee.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(issues): add new input `issue-only-with-assignees` (#772)
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/24-only-with-assignees-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/issues/issue-only-with-assignee.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(prs): add new input `pull-request-only-with-assignees`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/27-only-with-assignees-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/pull-requests/pull-request-only-with-assignee.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(prs): add new input `pull-request-only-with-assignees` (#775)
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/27-only-with-assignees-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/pull-requests/pull-request-only-with-assignee.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(release): fix bad imports in the prepare release script
  scripts/prepare-release.mjs
Due: none

build(release): new version 1.58.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  aac7cffeb5eec7a91e7535d0545272268021df16
Due: none

chore(changelog): remove wrong fix commit type
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore: update index
  dist/index.js
  dist/licenses.txt
Due: npm run lint:ts:hook

chore(renovate): add support for nvm
  .renovaterc.json
Due: npm run lint:other:hook

chore(changelog): add missing description in the last release
  CHANGELOG.md
  documentation/docs/15-changelog.md
Due: npm run lint:other:hook

chore(chalk): fix chalk log prefix formatting
  documentation/scripts/logger.mjs
  scripts/logger.mjs
Due: none

docs(readme): reorder the inputs lists
  README.md
Due: npm run lint:other:hook

refactor(action): reorder the inputs lists
  action.yml
Due: npm run lint:other:hook

build(release): new version 1.59.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  7001c3933b3d08bac817e307ef468c7c65032b93
Due: none

feat(issues): add new input `issue-only-with-project-cards`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/22-only-with-project-cards-input.mdx
  documentation/docs/06-issues/01-inputs/23-only-any-project-cards-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-include-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  tests/issues/issue-only-with-project-card.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
