Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

chore(eslint): disable @typescript-eslint/restrict-template-expressions rules
  .eslintrc.yml
Due: npm run lint:other:hook

chore(package): migrate to npm 7
  package-lock.json
Due: npm run lint:other:hook

chore(eslint): configure new jest rules
  .eslintrc.yml
Due: npm run lint:other:hook

build(release): new version 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e4fe077adf05fcd35533665e6c27591daa62b134
Due: none

build(release): remove the index from the assets during the release
  .releaserc.json
Due: npm run lint:other:hook

chore(github): create the octokit instance to auth to github
  README.md
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(octokit): add new method to return the octokit
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(contributing): add build preferences and graphql information
  CONTRIBUTING.md
Due: npm run lint:other:hook

chore(eslint): allow 0 and 1 as magic numbers
  .eslintrc.yml
Due: npm run lint:other:hook

feat(issues): fetch the issues to process and log the id
  dist/index.js
  dist/index.js.map
  src/core/inputs/inputs.interface.ts
  src/core/issues/issue.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/github/api/github-api-issues.interface.ts
  src/github/api/github-api-issues.service.ts
Due: npm run lint:ts:hook

chore(lint): fix linter issue
  .run/All Tests.run.xml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: npm run lint:ts:hook

build(stale): change the github token used for the test
  .github/workflows/stale-tester.yml
Due: npm run lint:other:hook

feat(issues): log on error while fetching the issues
  dist/index.js
  dist/index.js.map
  src/core/issues/issues.service.ts
  src/github/api/github-api-issues.interface.ts
  src/github/api/github-api-issues.service.ts
Due: npm run lint:ts:hook

Notes added by 'git notes add'
  ca7f8ae4207f9e4dc7d9f2581fcee1ce69f8b609
Due: none

build(release): new version 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

docs(contributing): start to write the workflow
  CONTRIBUTING.md
  README.md
Due: npm run lint:other:hook

feat(dry-run): add new input dry-run and remove the required github-token
  .github/workflows/stale-tester.yml
  README.md
  action.yml
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(github-api-issues): add more coverage
  dist/index.js
  dist/index.js.map
  src/core/stale.service.spec.ts
  src/github/api/github-api-issues.service.spec.ts
  src/github/api/github-api-issues.service.ts
  src/github/octokit/octokit.service.spec.ts
Due: npm run lint:ts:hook

build(action): remove the $ to avoid having parsing issue
  action.yml
  dist/index.js.map
  src/github/api/github-api-issues.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(logs): remove the link used for the inputs
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  src/utils/logger/logger.service.spec.ts
  src/utils/logger/logger.service.ts
Due: npm run lint:ts:hook

feat(logs): add more logs to track the processing
  dist/index.js
  dist/index.js.map
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
Due: npm run lint:ts:hook

test(issues): add more coverage
  src/core/issues/issues.service.spec.ts
Due: npm run lint:ts:hook

chore(logs): add a logger for the issues
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/github/api/github-api-issue-number.ts
  src/github/api/github-api-issue.interface.ts
  src/github/api/github-api-issues.interface.ts
Due: npm run lint:ts:hook

chore(logs): use a group for the issue logs
  CONTRIBUTING.md
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

test(issue-logger): add more coverage
  src/core/issues/issue-logger.spec.ts
Due: npm run lint:ts:hook

build(stale): add a job to stale on this repository
  .github/workflows/stale-tester.yml
  .github/workflows/stale.yml
Due: npm run lint:other:hook

build(github): add a CI label automatically
  .github/labeler.yml
Due: npm run lint:other:hook

build(ci): upgrade verify-changed-files to fix the CLRF diff issue
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(build): use a dirty build to avoid diff
  .github/workflows/build.yml
  package.json
Due: npm run lint:other:hook

docs(readme): add a related project section
  README.md
Due: npm run lint:other:hook

build(build): avoid to run the same job twice during a build
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(release): new version 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  b23d48a999a90e3de8692a9beee57b1e80913ed1
Due: none

fix(log): display the proper end of tree symbol when logging the inputs
  dist/index.js
  dist/index.js.map
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-logger.spec.ts
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/github/api/issues/github-api-issue-number.ts
  src/github/api/issues/github-api-issue.interface.ts
  src/github/api/issues/github-api-issues.interface.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/octokit/octokit.service.spec.ts
  src/utils/links/create-input-link.spec.ts
  src/utils/links/create-input-link.ts
  src/utils/links/create-link.spec.ts
  src/utils/links/create-link.ts
  src/utils/loggers/__mocks__/logger-format.service.ts
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger-format.service.spec.ts
  src/utils/loggers/logger-format.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  src/utils/trees/tree-rows.enum.ts
Due: npm run lint:ts:hook

build(ci): add codeql analysis
  .github/workflows/codeql-analysis.yml
Due: npm run lint:other:hook

fix(issue): display the issue link in purple
  dist/index.js
  dist/index.js.map
  src/core/issues/issue-logger.spec.ts
  src/core/issues/issue-logger.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/utils/links/create-link.spec.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
Due: npm run lint:ts:hook

style(codeql): lint with prettier
  .github/workflows/codeql-analysis.yml
Due: npm run lint:other:hook

build(diff): change the way to perform the diff on the dist
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(map): remove the source maps from the build
  .github/workflows/build.yml
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
Due: npm run lint:ts:hook, npm run lint:other:hook
