Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.36.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e94971b05b45ad756a6db10a85d326333eda2e9c
Due: none

chore(intellij): add libraries for indexing
  documentation/documentation.iml
Due: none

chore(readme): replace the examples to simply link the website instead
  README.md
Due: npm run lint:other:hook

chore(deps): update dependency @types/node to v14.18.10
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency node-notifier to v10.0.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v12.22.10
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v14.19.0
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.3.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(issues): add new input `issue-limit-api-queries-count`
  README.md
  action.yml
  documentation/docs/02-getting-started/02-workflow-testing.mdx
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/10-statistics.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/issues/issues.service.ts
  tests/issues/issues-limit-api-queries-count.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(prs): add new input `pull-request-limit-api-queries-count`
  README.md
  action.yml
  dist/index.js
  documentation/docs/02-getting-started/02-workflow-testing.mdx
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/10-statistics.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.ts
  tests/pull-requests/pull-requests-limit-api-queries-count.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(contributing): add details about queries count implementation
  CONTRIBUTING.md
Due: npm run lint:other:hook

chore(website): add missing LOC in the testing example
  documentation/docs/02-getting-started/02-workflow-testing.mdx
Due: npm run lint:other:hook

build(release): new version 1.37.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  af266fa9792212a6cacaed7f1666728fdb089f81
Due: none

fix(deps): update dependency @mdx-js/react to v2
  documentation/package-lock.json
  documentation/package.json
Due: npm run lint:other:hook

feat(issues): add new input `issue-limit-api-mutations-count`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/02-getting-started/02-workflow-testing.mdx
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/18-limit-api-mutations-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/10-statistics.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/issues/issues.service.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.ts
  tests/issues/issues-limit-api-mutations-count.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): change the version of codecov used
  .github/workflows/build.yml
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.7.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.38.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  fcd4bd48ed05d10be858e2374b5193e38c150d61
Due: none

feat(prs): add new input `pull-request-limit-api-mutations-count`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/02-getting-started/02-workflow-testing.mdx
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/21-limit-api-mutations-count-input.mdx
  documentation/docs/10-statistics.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.ts
  tests/pull-requests/pull-requests-limit-api-mutations-count.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(pr): change the commiter and author names on auto-created pr
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(gh-pages): change the commiter and author names when deploying gh-pages
  .github/workflows/deploy-website.yml
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(release): new version 1.39.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  cd2b6358b14f737632a35e76c171795cb017790b
Due: none

docs(fix): fix wrong configuration examples
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/06-issues/01-inputs/18-limit-api-mutations-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/21-limit-api-mutations-count-input.mdx
Due: npm run lint:other:hook

build(release): change the release type for docs with fix scope to use a patch
  .releaserc.json
Due: npm run lint:other:hook

build(release): change the bot used to create the release
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(release): fix wrong configuration
  .releaserc.json
Due: npm run lint:other:hook

build(release): new version 1.40.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  855def97b4d6898517e2fce0b35be61ea0454d49
Due: none

build(release): only create a minor for docs type when the scope is not fix or typo
  .releaserc.json
Due: npm run lint:other:hook

chore(changelog): rename the main title
  .releaserc.json
  CHANGELOG.md
Due: npm run lint:other:hook

docs(website): add a changelog page inside the docs
  documentation/docs/11-changelog.md
  documentation/package-lock.json
  documentation/package.json
  documentation/scripts/chalk.js
  documentation/scripts/generate-changelog.js
  documentation/scripts/logger.js
  documentation/tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): add a step to check if there is missing files with the docs after the build
  .github/workflows/build.yml
Due: npm run lint:other:hook

build(release): include the changelog of the documentation during the release commit
  .releaserc.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,mdx}
