Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.17.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  fc0ea02ff6f269d84896026879565c0e493c0ff4
Due: none

chore(deps): update dependency @vercel/ncc to v0.32.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v8.3.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency lint-staged to v12.1.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency tsconfig-paths to v3.12.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency typescript to v4.5.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(issue): add new input to ignore the process base on the creation date
  .eslintrc.yml
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/utils/dates/iso-8601-to-datetime.spec.ts
  tests/issues/issue-with-ignored-creation-date.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(readme): update the value used for the creation date
  README.md
  src/utils/dates/iso-8601-to-datetime.spec.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  ab598fe9f7212e93b8a7c07046d386bf4d1c7336
Due: none

chore(index): update index
  dist/index.js
Due: npm run lint:ts:hook

chore(deps): update dependency lint-staged to v12.1.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency ttypescript to v1.5.13
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v25.3.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-typescript-sort-keys to v2.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency prettier to v2.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v14
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update node.js to v16
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update npm to v8
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): lock file maintenance
  package-lock.json
Due: npm run lint:other:hook

chore: update the index
  dist/index.js
Due: npm run lint:ts:hook

chore(renovate): allow to provide deps PRs on daily basis
  .renovaterc.json
Due: npm run lint:other:hook

feat(issue): add new option to ignore some assignees
  .eslintrc.yml
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-assignees-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  tests/issues/issue-with-ignored-assignee.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(contributing): add docs for ssue-ignore-any-assignees input
  CONTRIBUTING.md
Due: npm run lint:other:hook

build(release): new version 1.19.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  c2ed3dbbb7a586f3675384f89856722d5a5680b7
Due: none

chore(stale): ignore stale for issues where I am assignee
  .github/workflows/stale.yml
Due: npm run lint:other:hook

feat(issue): add new input issue-stale-comment to comment on stale
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/outputs/outputs.enum.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
  src/github/api/comments/constants/github-api-add-comment-mutation.ts
  src/github/api/comments/github-api-comments.service.spec.ts
  src/github/api/comments/github-api-comments.service.ts
  src/utils/types/comment.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-to-stale-comment.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/issues/issue-with-all-assignees-ignored.spec.ts
  tests/issues/issue-with-all-labels-ignored.spec.ts
  tests/issues/issue-with-ignored-assignee.spec.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(ci): allow to run the release action manually
  .github/workflows/release.yml
Due: npm run lint:other:hook

build(release): new version 1.20.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  e58abe9f082d2b4f7551281add710c810a399090
Due: none

chore(deps): update dependency eslint to v8.4.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest to v27.4.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update typescript-eslint monorepo to v5.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency ts-jest to v27.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency jest-extended to v1.2.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @vercel/ncc to v0.33.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(issue): add new input issue-close-comment to comment on close
  .github/workflows/stale.yml
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  tests/issues/issue-to-close-comment.spec.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
