Repository Sonia-corporation/stale: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html,mdx}": [
    "npm run lint:other:hook"
  ]
}

build(release): update the documentation changelog during the release
  documentation/scripts/generate-changelog.js
  package-lock.json
  package.json
  scripts/chalk.js
  scripts/logger.js
  scripts/prepare-release.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency jest to v27.5.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): use a cross-platform directory name finder
  documentation/scripts/generate-changelog.js
  documentation/scripts/get-directory-name.js
  scripts/get-directory-name.js
  scripts/prepare-release.js
Due: npm run lint:ts:hook

build(website): move the lint of the changelog in the changelog generation script
  documentation/scripts/generate-changelog.js
  package.json
  scripts/prepare-release.js
Due: npm run lint:ts:hook, npm run lint:other:hook

build(changelog): generate the headers of the documentation changelog
  documentation/docs/11-changelog.md
  documentation/package.json
  documentation/scripts/generate-changelog.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(node): migrate to node 14.17.6
  .github/workflows/build.yml
  .github/workflows/release.yml
  .nvmrc
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.41.0
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  28cdac7a875923dbc57a43f8ce256b87cff2fd22
Due: none

chore(pr): change the name of the bot in the auto created prs
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(docs): add a meta description for the changelog
  documentation/docs/11-changelog.md
Due: npm run lint:other:hook

chore(deps): update dependency chalk to v5
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore: update package lock
  documentation/package-lock.json
Due: npm run lint:other:hook

docs(readme): fix broken links to inputs inside the readme
  README.md
Due: npm run lint:other:hook

feat(issues): add new input `issue-only-any-project-cards`
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/19-only-any-project-cards-input.mdx
  documentation/docs/09-examples/01-with-comment-except-assigned.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/labels/interfaces/github-api-project-card.interface.ts
  src/github/api/labels/interfaces/github-api-project.interface.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  tests/issues/issue-only-any-project-card.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

refactor(docs): rename the issues examples page
  documentation/docs/09-examples/01-with-comment-except-assigned.mdx
  documentation/docusaurus.config.js
  documentation/i18n/fr/docusaurus-theme-classic/footer.json
Due: npm run lint:ts:hook, npm run lint:other:hook

docs(website): add more tags to existing docs pages
  documentation/docs/02-getting-started/01-workflow-creation.mdx
  documentation/docs/06-issues/01-inputs/02-stale-label-input.mdx
  documentation/docs/06-issues/01-inputs/03-ignore-all-labels-input.mdx
  documentation/docs/06-issues/01-inputs/04-ignore-any-labels-input.mdx
  documentation/docs/06-issues/01-inputs/05-ignore-all-assignees-input.mdx
  documentation/docs/06-issues/01-inputs/06-ignore-any-assignees-input.mdx
  documentation/docs/06-issues/01-inputs/07-ignore-all-project-cards-input.mdx
  documentation/docs/06-issues/01-inputs/08-ignore-any-project-cards-input.mdx
  documentation/docs/06-issues/01-inputs/09-ignore-before-creation-date-input.mdx
  documentation/docs/06-issues/01-inputs/11-stale-comment-input.mdx
  documentation/docs/06-issues/01-inputs/13-close-comment-input.mdx
  documentation/docs/06-issues/01-inputs/14-add-labels-after-stale-input.mdx
  documentation/docs/06-issues/01-inputs/15-add-labels-after-close-input.mdx
  documentation/docs/06-issues/01-inputs/17-limit-api-queries-count-input.mdx
  documentation/docs/06-issues/01-inputs/18-limit-api-mutations-count-input.mdx
  documentation/docs/06-issues/01-inputs/19-only-any-project-cards-input.mdx
  documentation/docs/08-pull-requests/01-inputs/02-stale-label-input.mdx
  documentation/docs/08-pull-requests/01-inputs/03-ignore-all-labels-input.mdx
  documentation/docs/08-pull-requests/01-inputs/04-ignore-any-labels-input.mdx
  documentation/docs/08-pull-requests/01-inputs/05-ignore-all-assignees-input.mdx
  documentation/docs/08-pull-requests/01-inputs/06-ignore-any-assignees-input.mdx
  documentation/docs/08-pull-requests/01-inputs/07-ignore-all-project-cards-input.mdx
  documentation/docs/08-pull-requests/01-inputs/08-ignore-any-project-cards-input.mdx
  documentation/docs/08-pull-requests/01-inputs/09-ignore-before-creation-date-input.mdx
  documentation/docs/08-pull-requests/01-inputs/10-ignore-draft-input.mdx
  documentation/docs/08-pull-requests/01-inputs/12-stale-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/14-close-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/15-delete-branch-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/16-add-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/17-add-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/19-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/20-limit-api-queries-count-input.mdx
  documentation/docs/08-pull-requests/01-inputs/21-limit-api-mutations-count-input.mdx
  documentation/docs/09-examples/01-with-comment-except-assigned.mdx
Due: npm run lint:other:hook

docs(examples): add a multiple-cron jobs example
  documentation/docs/09-examples/01-with-comment-except-assigned.mdx
  documentation/docs/09-examples/02-multiple-cron.mdx
Due: npm run lint:other:hook

chore(contributing): add implementation details for issue-only-any-project-cards
  CONTRIBUTING.md
Due: npm run lint:other:hook

chore(lodash): use _ global instead of direct import
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.ts
Due: npm run lint:ts:hook

chore(deps): update dependency eslint-plugin-jsdoc to v37.8.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.42.0
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  8be145d90173245e3451f07e62464f5ccaa3e6b0
Due: none

chore(deps): update typescript-eslint monorepo to v5.11.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(logs): add a logger annotations service
  src/utils/loggers/logger-annotations.service.spec.ts
  src/utils/loggers/logger-annotations.service.ts
Due: npm run lint:ts:hook

chore(logger): stop using annotations from the logger service
  src/utils/loggers/logger-annotations.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
Due: npm run lint:ts:hook

fix(annotations): format properly the warning annotations
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/utils/annotations/annotations.service.spec.ts
  src/utils/annotations/annotations.service.ts
  src/utils/annotations/enums/annotation-error.enum.ts
  src/utils/annotations/enums/annotation-notice.enum.ts
  src/utils/annotations/enums/annotation-warning-issue.enum.ts
  src/utils/annotations/enums/annotation-warning-pull-request.enum.ts
  src/utils/annotations/types/annotations-warnings.ts
Due: npm run lint:ts:hook

fix(annotations): format properly the errors annotations
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/core-inputs.service.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/references/abstract-github-api-references.service.ts
  src/github/api/references/github-api-pull-request-references.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
  src/utils/annotations/annotations.service.spec.ts
  src/utils/annotations/annotations.service.ts
  src/utils/annotations/enums/annotation-error-issue.enum.ts
  src/utils/annotations/enums/annotation-error-pull-request.enum.ts
  src/utils/annotations/enums/annotation-error.enum.ts
  src/utils/annotations/types/annotations-errors.ts
Due: npm run lint:ts:hook

chore(deps): update dependency jest to v27.5.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jest to v26.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(annotations): remove every existing notice annotations
  dist/index.js
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/abstract-logger.ts
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-comments-processor.spec.ts
  src/core/processing/issues/issue-logger.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-comments-processor.spec.ts
  src/core/processing/pull-requests/pull-request-delete-branch-processor.spec.ts
  src/core/processing/pull-requests/pull-request-delete-branch-processor.ts
  src/core/processing/pull-requests/pull-request-draft-processor.spec.ts
  src/core/processing/pull-requests/pull-request-draft-processor.ts
  src/core/processing/pull-requests/pull-request-logger.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.42.1
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  2347e638a4304ed3cc68a6e18aeaf38e5574cd4f
Due: none

feat(annotations): add notice annotations for all outputs greater than 0
  dist/index.js
  src/core/outputs/annotations/abstract-outputs-annotations.service.ts
  src/core/outputs/annotations/issues-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/issues-outputs-annotations.service.ts
  src/core/outputs/annotations/outputs-annotations.service.spec.ts
  src/core/outputs/annotations/outputs-annotations.service.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/utils/annotations/annotations.service.spec.ts
  src/utils/annotations/annotations.service.ts
  src/utils/annotations/enums/annotation-notice.enum.ts
  src/utils/annotations/statistics-annotations.service.js
Due: npm run lint:ts:hook

build(release): new version 1.43.0
  CHANGELOG.md
  documentation/docs/11-changelog.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  ea1b55fa23454b0586685f0cde5b8b575a0d9e0f
Due: none
